thesis-tikzDictionary

# this list is generated with make clean:

thesis_final.pdf
thesis.pdf
thesis.tex
*.fdb_latexmk
*.latexmain
*.aux
*.fls
*.log
*.toc
*.fls
*.lof
*.lol
*.out
*.dvi
*.brf
*.bbl
*.blg
*.lot
figures/*.eps
figures/*-eps-converted-to.pdf
listings/*
tables/event-type-descriptions.tex
tables/event-types.txt
../survey/seating/data-usability-study/usability-study.{tex,tex~,pdf}
appendix/usability-study.*
thesis-tikzDictionary
figures/knitr/
